<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <div className="header_container">
        <div className="header_left">
            <ul>
                <li><img src= {Netflixlogo} alt="Netflix Logo" width="100"/></li>
                <li>Home</li>
                <li>TVShow</li>
                <li>Movies</li>
                <li>Latest</li>
                <li>MyList</li>
                <li>Browse by Languages</li>
            </ul>
        </div>
        <div className="header_right">
               <ul>
                <li><searchIcon /></li>
                <li><NotificationNameIcon /></li>
                <li><AccountboxIcon /></li>
                <li><ArrowDropDownIcon /></li>
               </ul> 
        </div>
    </div>
</body>
</html>